{% extends 'admin.html.twig' %}

{% block title %}MsgDuJour index{% endblock %}



{% block body %}


    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                    <i class="material-icons">message</i>
                </div>
                <h4 class="card-title ">Configurer le message du jour</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <tr>
                            <th>Id</th>
                            <th>Message</th>
                            <th>Actions</th>

                        </tr>
                        </thead>
                        <tbody>



                        {% for msg_du_jour in msg_du_jours %}

                            <tr>
                                <td>{{ msg_du_jour.id }}</td>
                                <td>{{ msg_du_jour.Message }}</td>
                                <td>
                                    <a href="{{ path('msg_du_jour_show', {'id': msg_du_jour.id}) }}"><button class="btn btn-primary"><i class="fa fa-eye"></i></button></a>
                                    <a href="{{ path('msg_du_jour_edit', {'id': msg_du_jour.id}) }}"><button class="btn btn-warning"><i class="fa fa-edit"></i></button></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>

                                <td colspan="6">Vous n'avez pas encore défini de message du jour. Cliquez sur le bouton ci-dessous pour en créer un.</td>

                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                   {% if msg_du_jours is empty %}

                       <input type="button" class="btn btn-warning togglebutton" id="form_message_submit" onclick="show_form()" value="Créer un nouveau message"/ >


                       <div id="form_messageNew" style="display: none;">
                           {% if form is defined %}
                               <hr>

                               <h4 class="mb-3">Entrer votre message du jour </h4>

                               {% form_theme form 'bootstrap_4_layout.html.twig' %}

                               {{ include('msg_du_jour/_form.html.twig') }}

                               <span id="rchars">15</span> / 105

                               <script>

                           </script>
                           {% endif %}
                       </div>

                       <script>

                           function show_form () {

                               $('#form_messageNew').toggle(500);

                               if($('#form_message_submit').val() == "Créer un nouveau message"){
                                   $('#form_message_submit').prop('value', 'Annuler');
                                   $('#form_message_submit').removeClass('btn-warning').addClass('btn-danger');
                               }
                               else{
                                   $('#form_message_submit').prop('value', 'Créer un nouveau message');
                                   $('#form_message_submit').removeClass('btn-danger').addClass('btn-warning');

                               }


                           }
                           jQuery(document).ready(function()  {
                               console.log('lol')
                               var maxLength = 105;

                           $('#msg_du_jour_Message').click(function() {console.log('hello')});

                           $(this).keyup(function() {
                               var textlen = maxLength - $(this).val().length;
                               console.log('helsssdsdafeflo');
                               $('#rchars').text(textlen);
                           });

                           });

                       </script>

                    {% endif %}

                </div>

            </div>
        </div>
    </div>



{% endblock %}
