{% extends 'admin.html.twig' %}

{% block title %}MsgDuJour{% endblock %}

{% block body %}
    <h1>MsgDuJour</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ msg_du_jour.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ msg_du_jour.Message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('msg_du_jour_index') }}">back to list</a>

    <a href="{{ path('msg_du_jour_edit', {'id': msg_du_jour.id}) }}">edit</a>

    {{ include('msg_du_jour/_delete_form.html.twig') }}
{% endblock %}
